In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset=pd.read_csv("/content/rating (1).csv")

In [ ]:
dataset.head

<bound method NDFrame.head of         userId  movieId  rating            timestamp
0            1      2.0     3.5  2005-04-02 23:53:47
1            1     29.0     3.5  2005-04-02 23:31:16
2            1     32.0     3.5  2005-04-02 23:33:39
3            1     47.0     3.5  2005-04-02 23:32:07
4            1     50.0     3.5  2005-04-02 23:29:40
...        ...      ...     ...                  ...
225278    1560     85.0     5.0  2002-03-25 02:39:38
225279    1560    110.0     5.0  2001-07-29 06:38:34
225280    1560    141.0     1.5  2004-03-28 22:58:44
225281    1560    147.0     3.0  2002-04-05 20:42:20
225282      15      NaN     NaN                  NaN

[225283 rows x 4 columns]>

In [ ]:
user_max=dataset["userId"].max()
print(user_max)
user_min=dataset['userId'].min()
print(user_min)

1560
1

In [ ]:
movie_max=dataset["movieId"].max()
print(movie_max)
movie_min=dataset['movieId'].min()
print(movie_min)

130219.0
1.0

In [ ]:
dataset.drop("timestamp", axis=1 , inplace=True)

In [ ]:
dataset.head

<bound method NDFrame.head of         userId  movieId  rating
0            1      2.0     3.5
1            1     29.0     3.5
2            1     32.0     3.5
3            1     47.0     3.5
4            1     50.0     3.5
...        ...      ...     ...
225278    1560     85.0     5.0
225279    1560    110.0     5.0
225280    1560    141.0     1.5
225281    1560    147.0     3.0
225282      15      NaN     NaN

[225283 rows x 3 columns]>

In [ ]:
new_dataset=pd.DataFrame(columns=range(1,1560),index=range(1,130219))

In [ ]:
new_dataset.head

<bound method NDFrame.head of        1    2    3    4    5    6    7    8    9    10    ... 1550 1551 1552  \
1       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
2       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
3       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
4       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
5       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
130214  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
130215  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
130216  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
130217  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
130218  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN

       1553 1554 1555 1556 1557 1558 1559
1       NaN  NaN  NaN  NaN  NaN  NaN  NaN
2       NaN  NaN  NaN  NaN  NaN  NaN  NaN
3       NaN  NaN  NaN  NaN  NaN  NaN  NaN
4       NaN  NaN  NaN  NaN  NaN  NaN  NaN
5       NaN  NaN  NaN  NaN  NaN  NaN  NaN
...     ...  ...  ...  ...  ...  ...  ...
130214  NaN  NaN  NaN  NaN  NaN  NaN  NaN
130215  NaN  NaN  NaN  NaN  NaN  NaN  NaN
130216  NaN  NaN  NaN  NaN  NaN  NaN  NaN
130217  NaN  NaN  NaN  NaN  NaN  NaN  NaN
130218  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[130218 rows x 1559 columns]>

In [ ]:
new_dataset.shape

(130218, 1559)

In [ ]:
for i in range(125915, 257):
    a=dataset.iloc[i,0]
    b=dataset.iloc[i,1]
    c=dataset.iloc[i,2]
    new_dataset.iloc[a-1,b-1]=c

In [ ]:
new_dataset.head

<bound method NDFrame.head of        1    2    3    4    5    6    7    8    9    10    ... 1550 1551 1552  \
1       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
2       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
3       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
4       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
5       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
130214  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
130215  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
130216  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
130217  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
130218  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN

       1553 1554 1555 1556 1557 1558 1559
1       NaN  NaN  NaN  NaN  NaN  NaN  NaN
2       NaN  NaN  NaN  NaN  NaN  NaN  NaN
3       NaN  NaN  NaN  NaN  NaN  NaN  NaN
4       NaN  NaN  NaN  NaN  NaN  NaN  NaN
5       NaN  NaN  NaN  NaN  NaN  NaN  NaN
...     ...  ...  ...  ...  ...  ...  ...
130214  NaN  NaN  NaN  NaN  NaN  NaN  NaN
130215  NaN  NaN  NaN  NaN  NaN  NaN  NaN
130216  NaN  NaN  NaN  NaN  NaN  NaN  NaN
130217  NaN  NaN  NaN  NaN  NaN  NaN  NaN
130218  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[130218 rows x 1559 columns]>

In [ ]:
new_dataset.fillna(0 ,inplace=True)

In [ ]:
new_dataset.head

<bound method NDFrame.head of         1     2     3     4     5     6     7     8     9     10    ...  1550  \
1          0     0     0     0     0     0     0     0     0     0  ...     0
2          0     0     0     0     0     0     0     0     0     0  ...     0
3          0     0     0     0     0     0     0     0     0     0  ...     0
4          0     0     0     0     0     0     0     0     0     0  ...     0
5          0     0     0     0     0     0     0     0     0     0  ...     0
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
130214     0     0     0     0     0     0     0     0     0     0  ...     0
130215     0     0     0     0     0     0     0     0     0     0  ...     0
130216     0     0     0     0     0     0     0     0     0     0  ...     0
130217     0     0     0     0     0     0     0     0     0     0  ...     0
130218     0     0     0     0     0     0     0     0     0     0  ...     0

        1551  1552  1553  1554  1555  1556  1557  1558  1559
1          0     0     0     0     0     0     0     0     0
2          0     0     0     0     0     0     0     0     0
3          0     0     0     0     0     0     0     0     0
4          0     0     0     0     0     0     0     0     0
5          0     0     0     0     0     0     0     0     0
...      ...   ...   ...   ...   ...   ...   ...   ...   ...
130214     0     0     0     0     0     0     0     0     0
130215     0     0     0     0     0     0     0     0     0
130216     0     0     0     0     0     0     0     0     0
130217     0     0     0     0     0     0     0     0     0
130218     0     0     0     0     0     0     0     0     0

[130218 rows x 1559 columns]>

In [ ]:
ty=np.array(new_dataset)

In [ ]:
ty

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
def matrix_factorization(R, P, Q, K, steps=5000, alpha=0.0002, beta=0.02):
    '''
    R: rating matrix
    P: |U| * K (User features matrix)
    Q: |D| * K (Item features matrix)
    K: latent features
    steps: iterations
    alpha: learning rate
    beta: regularization parameter'''
    Q = Q.T

    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    # calculate error
                    eij = R[i][j] - np.dot(P[i,:],Q[:,j])

                    for k in range(K):
                        # calculate gradient with a and beta parameter
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])

        eR = np.dot(P,Q)

        e = 0

        for i in range(len(R)):

            for j in range(len(R[i])):

                if R[i][j] > 0:

                    e = e + pow(R[i][j] - np.dot(P[i,:],Q[:,j]), 2)

                    for k in range(K):

                        e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
        # 0.001: local minimum
        if e < 0.001:

            break

    return P, Q.T

In [ ]:
R = [

     [5,3,0,1],

     [4,0,0,1],

     [1,1,0,5],

     [1,0,0,4],

     [0,1,5,4],
    
     [2,1,3,0],

    ]

R = np.array(R)
# N: num of User
N = len(R)
# M: num of Movie
M = len(R[0])
# Num of Features
K = 3

 
P = np.random.rand(N,K)
Q = np.random.rand(M,K)

 

nP, nQ = matrix_factorization(R, P, Q, K)

nR = np.dot(nP, nQ.T)

In [ ]:
nR

array([[4.97815646, 2.97475761, 3.03232055, 1.00335179],
       [3.97810131, 2.3010514 , 2.63986352, 1.00000978],
       [1.00784651, 0.98723169, 3.06698385, 4.96968106],
       [0.99933034, 0.89192278, 2.56697362, 3.98105532],
       [3.08102158, 1.02013941, 4.97237165, 3.991536  ],
       [1.98506466, 0.987964  , 3.00482435, 2.91776937]])